<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>just_do_it</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.user.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.user.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTodo</display-name>
    <servlet-name>AddTodo</servlet-name>
    <servlet-class>com.todo.AddTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTodo</servlet-name>
    <url-pattern>/AddTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>com.todo.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTodo</display-name>
    <servlet-name>UpdateTodo</servlet-name>
    <servlet-class>com.todo.UpdateTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTodo</servlet-name>
    <url-pattern>/UpdateTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTodo</display-name>
    <servlet-name>DeleteTodo</servlet-name>
    <servlet-class>com.todo.DeleteTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTodo</servlet-name>
    <url-pattern>/DeleteTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckTodo</display-name>
    <servlet-name>CheckTodo</servlet-name>
    <servlet-class>com.todo.CheckTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckTodo</servlet-name>
    <url-pattern>/CheckTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>com.mail.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>com.todo.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
</web-app>